* {
  box-sizing: border-box;
}

:root {
  --margin: 0 80px; 
  --padding: 60px 0;

  --background-color: #e7e9e7;
  --black: #1e1e1e;
  --white: #ffffff;
  --gray: #d7d7d7;
  --green: #91d457;
  --border: 2px solid #1e1e1e;
  --border-radius: 20px;
  --box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.15);
}

body, html {
  margin: 0;

  font-family: Helvetica, sans-serif;
  background-color: var(--background-color);
}

h1 {
  margin: 0;

  font-family: 'Climate Crisis', cursive;
  font-size: 64px;
  font-weight: bolder;
  color: var(--black);
}

h2 {
  margin: 0;
  max-width: 600px;

  font-size: 38px;
  color: var(--black);
}

h3 {
  margin: 0;

  font-size: 28px;
  color: var(--black);
}

p {
  margin: 0;
  padding-top: 10px;

  font-size: 16px;
  color: var(--black);
}

strong {
  font-size: 20px;
  color: var(--black);
}

a {
  text-decoration: none;
  color: var(--black);
}

img {
  width: 100%;
  height: auto;
}

/* ---------- header ---------- */
.header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 2;

  background-color: var(--black);
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.15);
}

.header-logo {
  padding: 15px 30px 0 30px;

  display: flex;
  justify-content: space-between;
}

.logo {
  color: var(--green);
  font-family: 'Climate Crisis', cursive;
  font-size: 20px;
}

.cart-icon {
  padding-bottom: 5px;
}

.cart-icon > img {
  width: 28px;
}

/* ---------- navigation ---------- */
.main-nav {
  padding: 15px 30px;

  display: flex;
  justify-content: center;

  background-color: var(--white);
  border-bottom: var(--border);
}

.nav-list {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-around;

  list-style-type: none;
}

.nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1;
  color: var(--black);
}

.nav-item a:hover {
  border-bottom: var(--border);
}

/* ---------- HOMEPAGE ---------- */

/* ---------- welcome section ---------- */
.hero {
  margin: var(--margin);
  padding: var(--padding);

  display: flex;
  flex-direction: column;
}

.hero-text {
  padding-left: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  padding-top: 60px;
  
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.welcome > img {
  max-width: 750px;
  height: auto;
}

.welcome-text {
  padding-left: 30px;
}

.welcome-text > p {
  padding: 10px 0 50px 0;
  
  font-size: 18px
}

.btn {
  padding: 10px 40px;
  
  color: var(--black);
  border: var(--border);
  border-radius: var(--border-radius);
}

.btn.buy-now-btn {
  
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
}

.buy-now-btn:hover {
  background-color: var(--green);
  color: var(--black);
}

/* ---------- feature section ---------- */
.features {
  padding: 80px;
  
  display: flex;
  justify-content: space-evenly;
  
  background-color: var(--black);
  width: 100vw;
}

.features-wrapper {
  max-width: 500px;
  min-height: 350px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feature-item {
  padding-left: 160px;
  min-height: 125px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-item > h3 {
  color: var(--white);
}

.feature-item > p {
  color: var(--white);
}

.feature-item.cooking {
  background-image: url(img/icons/air-fryer-icon.png);
  background-repeat: no-repeat;
  background-position: center left;
}

.feature-item.app {
  background-image: url(img/icons/touch-screen-icon.png);
  background-repeat: no-repeat;
  background-position: center left 22px;
  background-size: 130px;
}

.feature-item.wifi {
  background-image: url(img/icons/wifi-icon.png);
  background-repeat: no-repeat;
  background-position: center left 22px;
  background-size: 130px;
}

.feature-item.heart {
  background-image: url(img/icons/heart-icon.png);
  background-repeat: no-repeat;
  background-position: center left 35px;
  background-size: 100px;
}

/* ---------- cookbook section ---------- */
.cookbook {
  margin: var(--margin);
  padding: var(--padding);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cookbook-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 38px 60px 0 60px;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  margin: var(--margin);
  padding: 110px 0 10px 0;
  border-bottom: 2px solid black;
}

.recipe-cards-wrapper {
  padding: var(--padding);
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 40px;
}

.recipe-card {
  max-width: 340px;

  display: flex;
  flex-direction: column;

  border: var(--border);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  border-radius: var(--border-radius);
}

.recipe-card > img {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.recipe-card-text {
  padding: 25px;
  max-width: 336px;
}

.btn.discover-more-btn {
  padding: 10px 30px;

  display: inline-block;

  background-color: var(--white);
}

.discover-more-btn:hover {
  background-color: var(--green);
}

/* ---------- warranty section ---------- */
.warranty {
  padding: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  background-color: var(--black);
}

.warranty > h3 {
  color: var(--green);
}

.warranty > p {
  max-width: 750px;

  color: var(--white);
}

/* ---------- footer ---------- */
.footer {
  padding: 80px 80px 20px 80px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--gray);
}

.newsletter {
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  text-align: center;
}

.form {
  padding: 15px 0;
}

input[type=email] {
  padding: 10px 40px;
  min-width: 350px;

  border: var(--border);
  border-radius: var(--border-radius);
  text-align: center;
  background-color: var(--background-color);
}

.submit-btn:hover {
  background-color: var(--green);
}

.unsubscribe {
  padding-top: 10px;
  font-size: 14px;
  text-decoration: underline;
}

.share {
  width: 100%;
  padding: 40px 0;

  border-top: var(--border);
}

.links-list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;

  list-style-type: none;
}

.link-item {
  padding: 0 10px;
}

.copyright > p {
  font-size: 14px;
}

/* ---------- PRODUCT PAGE ---------- */
.product {
  margin: var(--margin);
  padding: var(--padding);

  display: grid;
  grid-template-columns: 2fr 1fr;
}

.product > img {
  padding-right: 40px;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.product-details > ul {
  margin: var(--padding);
}

.ratings-and-price {
  margin-bottom: 60px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  border-bottom: var(--border);
}

.ratings-and-price > p {
  padding-top: 0;

  text-align: end;
}

.stars {
  padding-bottom: 5px;

  display: flex;
  align-items: center;
}

.stars > img {
  max-width: 25px;
  max-height: 25px;
}

.more-details {
  background-color: var(--white);
}

.details-icons {
  margin: var(--margin);
  padding-top: 60px;

  display: flex;
  justify-content: space-between;
}

.icon-product {
  max-width: 180px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.icon-product > img {
  width: auto;
}

.product-features {
  margin: var(--margin);
  padding: var(--padding);

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.product-feature {
  padding-bottom: 40px;
}

.product-feature > h3 {
  color: var(--green);
}

/* ---------- COOKBOOK PAGE ---------- */

.filter {
  margin-right: 40px;
}

.filter:nth-child(2) {
  background-color: var(--black);
  color: var(--white);
}

.cookbook-wrapper {
  margin: var(--margin);

  display: flex;
  justify-content: center;
}

.banner {
  margin: var(--margin);
  padding: var(--padding);
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fryer-card {
  max-width: 1080px;

  display: grid;
  grid-template-columns: 2fr 1fr;

  background-color: var(--white);
}

.banner-wrapper > img {
  max-width: 100px;
  max-height: 100px;

  position: relative;
  top: 103px;
}

.fryer-card-img {
  max-width: 630px;
}

.fryer-card-text {
  padding: 40px 40px 40px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fryer-card-text > h3 {
  font-family: 'Climate Crisis', cursive;
}

.banner-list {
  margin: 0;
  padding: 40px 0 40px 15px;
}

.buy-now-btn {
  text-align: center;
}

/* ---------- RECIPE PAGE ---------- */
.recipe-container {
  margin: var(--margin);
  padding: var(--padding);
}

.recipe-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-intro > img {
  padding: var(--padding);
}

.recipe-instructions {
  width: 100%;
}

.recipe-info {
  padding-bottom: 20px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  border-bottom: var(--border);
}

.recipe-info-box {
  text-align: center;
  border-right: var(--border);
}

.recipe-info-box:last-child {
  border-right: none;
}

.recipe-info-box > p {
  padding-top: 0;
}

.recipe {
  display: grid;
  grid-template-columns: .5fr 1.5fr;
  column-gap: 40px;
}

.recipe-list {
  margin: 40px 0 20px 0;
}

.recipe-list-item {
  padding-top: 8px;
}

.step {
  margin: 40px 0 20px 0;
}

/* ---------- CONTACTS PAGE ---------- */
.contacts-wrapper {
  margin: var(--margin);
  padding: var(--padding);

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.contacts-title {
  padding-bottom: 8px;
  border-bottom: var(--border);
}

.contact-section {
  padding-top: 40px;
}

.contacts-container > img {
  padding-top: 40px;

  max-width: 560px;
}